@media (max-width: 768px) {
  .header {
    &__title {
      font-size: 50px;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 14px;
    }
  
  }

  .menu {
    &__list {
      display: none;
    }
  }

  .menu__burger {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }

}

@media (max-width: 440px) {
  .header {
    &__title {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 12px;
    }
  
  }


}
