.about {
  padding: 152px 0 159px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  
  &__title {
    font-size: 48px;
  }

  &__box-text {
    font-family: "SFProDiaplay-Light", sans-serif;
    max-width: 790px;
  }

  &__text:first-child {
    margin-bottom: 18px;
  }
}