.connection {
  padding: 145px 0 160px;
  background-image: url("../images/map.jpg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 82%;

  &__title {
    margin-bottom: 95px;
  }

  .connection__title {
    margin-bottom: 80px;  
  }

  &__form {
    max-width: 570px;
  }

  &__info {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #373A39;
    padding: 16px 0;
    margin-bottom: 16px;
    &::placeholder {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 3.7px;
      color: #888;
      text-transform: uppercase;
    }
  
  }

  &__btn {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #242121;
    padding: 15px 70px;
  }
}