.header {
  &__top-inner {
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  &__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 93px);

  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    line-height: 88px;
    color: #fff;
    margin-top: auto;
    margin-bottom: 19px;
  }

  &__subtitle {
    font-family: "Montserrat", sans-serif;
    font-style: 16px;
    line-height: 20px;
    letter-spacing: 2.7px;
    color: #FCBB08;
    margin-bottom: auto;
  }

  &__icon {
    margin-bottom: 62px;
  }


}